= content_for(:javascript_pack_tag, javascript_pack_tag('workout_message_container', 'data-turbolinks-track':'reload'))

h1 ワークアウト

= link_to 'ワークアウト終了', workout_finish_index_path(workout_id: params[:id])

#workout-container
