= content_for(:app_bar, javascript_pack_tag('workout_app_bar', 'data-turbolinks-track':'reload'))
= content_for(:javascript_pack_tag, javascript_pack_tag('workout_message_container', 'data-turbolinks-track':'reload'))
#workout-container
